---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

{% assign publications_by_date = site.publications | sort: "date" | reverse %}
{% assign author_positions = publications_by_date | map: "author_position" | uniq | sort %}

{% for position in author_positions %}
  {% for post in publications_by_date %}
    {% if post.author_position == position %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
{% endfor %}



